@model IEnumerable<CRM.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Заказы</h1>

<p>
    <a asp-action="Create">Создать новый заказ</a>
</p>
@if(Model == null || Model.Count() == 0)
{
    <div>Нет заказов</div>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Номер заказа
            </th>
            <th>
                Наименование
            </th>
            <th>
                Кол-во
            </th>
            <th>
                Статус
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Заказчик
            </th>
            <th></th>
        </tr>
    </thead>
    
        <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            @switch (item.Status)
            {
                case OrderStatus.Accepted:
                    <td>Активный</td>;
                    break;
                case OrderStatus.Completed:
                    <td>Исполнен</td>;
                    break;
                case OrderStatus.InProgress:
                    <td>В обработке</td>;
                    break;
            }
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
    
</table>
}

